.project {
	width: 100%;
	padding: 5vw;
	padding-bottom: 9em;
	min-height: 100vh;
	color: var(--color-line);
}

.project-title {
	font-size: 1.6em;
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 700;
	letter-spacing: -1px;
}

.project-filters {
	display: flex;
	font-size: 12px;
	margin: 0.5rem 0;
}

.project-filters__filter {
	font-size: 14px;
	font-weight: 600;
	color: #8f9196;
	padding: 2px 8px;
	border-radius: 12px;
}

.project-filters__filter[aria-pressed="true"] {
	--bg: var(--color-fill-selected-filter);
	background: var(--bg);
	color: white;
}

.project-filters__filter--all[aria-pressed="true"] {
	--bg: #b7b9be;
}

.project-title:empty::before {
	position: absolute;
	content: "New project";
	color: var(--color-line-empty);
}

.project .project-actions {
	list-style-type: none;
}

.project-footer {
	position: fixed;
	background: var(--color-fill-offset-0);
	border-top: 1px solid var(--color-separator-offset);
	bottom: 0;
	font-size: 2em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
}

.project-footer button {
	font-size: 1em;
	width: 4em;
}

.logbook {
	margin-top: 4rem;
	font-size: 14px;
}

.logbook__trigger {
	font-size: 14px;
	padding: 2px 4px;
	border-radius: 8px;
	font-weight: 600;
	color: var(--color-line-empty);
}

.log {
	font-size: 14px;
	display: flex;
	gap: 1em;
	margin-bottom: 2px;
	place-items: center;
	color: var(--color-line-empty);
	text-decoration:;

	time {
		display: block;
		font-size: 12px;
		color: var(--color-fill-theme);
	}
}

.log__delete {
	padding: 0;
	font-size: 1em;
	font-weight: 400;
	padding: 4px;
	line-height: 1em;
	&:hover {
		background: #ee0050;
		color: white;
	}
	margin-left: auto;
	cursor: no-drop;
}
